<li class="nav-item menu-open"> <a href="{{route}}" class={{ (request.matchesRoute(route)) ? "nav-link active"
    : 'nav-link' }}> <i class="nav-icon bi bi-speedometer"></i>
    <p>
      {{title}}
    </p>
  </a>
