<li class="nav-item menu-open"> <a href="{{route(routeName)}}"  class="{{ (request.matchesRoute(routeName)) ? "nav-link active"
    : 'nav-link' }}"> <i class="nav-icon bi bi-speedometer"></i>
    <p>
      {{title}}
    </p>
  </a>

  <style>
    
  </style>
